<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neusoft.mapper.GoodsFenzhanMapper">
    <insert id="add" parameterType="cn.neusoft.domain.kufang.GoodsFenzhan">
        insert into kufang_change1 values(#{allocateid},#{cid},#{cname},#{measure_unit},#{cnum},#{tid},#{date},"沈阳库房")
    </insert>

    <update id="add_follow1">
        update kufang_vo set station="分站入" where allocateid=#{allocateid}
    </update>

    <insert id="add2" parameterType="cn.neusoft.domain.kufang.GoodsFenzhan">
        insert into kufang_change1 values(#{allocateid},#{cid},#{cname},#{measure_unit},#{cnum},#{tid},#{date})
    </insert>

    <update id="updatestate">
        update order_info_all set o_state="配送站到货" where o_id=#{integer}
    </update>

    <!--分站库房的两个模糊+分页查询-->

    <update id="findbypage_follow1">
        update kufang_vo set station="已领货" where allocateid=#{allocateid}
    </update>
    <select id="findbypage" resultType="cn.neusoft.domain.kufang.GoodsFenzhan">
        select * from (select * from kufang_vo
        <where>
            <if test="start!=null">
                date>=#{start}
            </if>
            <if test="end!=null">
                AND #{end}>=date
            </if>
            <if test="true">
                AND cnum>0
            </if>
            <if test="true">
                AND station="分站入"
            </if>
        </where>) cond limit #{startIndex},#{pageSize}
    </select>

    <select id="findbypage2" resultType="cn.neusoft.domain.kufang.GoodsFenzhan">
        select * from (select * from kufang_change1
        <where>
            <if test="start!=null">
                date>=#{start}
            </if>
            <if test="end!=null">
                AND #{end}>=date
            </if>
            <if test="true">
                AND 0>cnum
            </if>
        </where>) cond limit #{startIndex},#{pageSize}
    </select>


    <select id="findbypage3" resultType="cn.neusoft.domain.kufang.GoodsFenzhan">
        select * from (select * from kufang_change1
        <where>
            <if test="start!=null">
                date>=#{start}
            </if>
            <if test="end!=null">
                AND #{end}>=date
            </if>
            <if test="Type!=null and Type!=''">
                AND cname LIKE CONCAT('%',#{Type},'%')
            </if>
        </where>) cond limit #{startIndex},#{pageSize}
    </select>


    <select id="findbypage4" resultType="cn.neusoft.domain.kufang.GetGoods">
        select * from (select * from ranwudan
        <where>
            <if test="start!=null">
                date>=#{start}
            </if>
            <if test="end!=null">
                AND #{end}>=date
            </if>
        </where>) cond limit #{startIndex},#{pageSize}
    </select>

    <update id="updatestate2">
        update order_info_all set o_state="已领货" where o_id=#{integer}
    </update>
    <update id="updatevo">
        update kufang_vo set station="已领货" where allocateid=#{integer}
    </update>
</mapper>