<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neusoft.mapper.SupplierMapper">
    <update id="jiesuan">
        update kufang_goods1
        set is_jiesuan="已结算"
        where o_id=#{o_id}
    </update>

    <delete id="delete">
        delete from kufang_goods1 where o_id=#{o_id}
    </delete>

    <select id="findByPage" resultType="cn.neusoft.domain.Supplier">
        select * from kufang_goods1
        <where>
            <if test="offerer!=null and offerer!=''">
                offerer LIKE CONCAT('%',#{offerer},'%')
            </if>
            <if test="cname!=null and cname!=''">
                AND cname LIKE CONCAT('%',#{cname},'%')
            </if>
            <if test="startTime!=null">
                AND period &gt; #{startTime}
            </if>
            <if test="endTime!=null">
                AND period &lt; #{endTime}
            </if>
        </where> order by period DESC
    </select>

</mapper>
